<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><%= link_to "Home", root_path %></li>
        <li class="list-inline-item"><%= link_to "Help", help_path %></li>
        <li class="list-inline-item"><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
